# supabase/config.toml
project_id = "dqfyuhwrjozoxadkccdj"

[api]
port = 54321
schemas = ["public", "storage"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
port = 54323

[auth]
site_url = "https://club.nowme.fr"
additional_redirect_urls = [
  "https://club.nowme.fr",
  "https://club.nowme.fr/auth/update-password",
  "https://club.nowme.fr/dashboard",
  "https://club.nowme.fr/auth/signin",
  "https://club.nowme.fr/auth/callback"
]
jwt_expiry = 36000
enable_signup = true

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = false

# Ancienne config
[functions.stripe-webhook]
verify_jwt = false

[functions.stripe-checkout-completed]
verify_jwt = false

[functions.sync-stripe-subscriptions]
verify_jwt = false

[functions.reset-password]
verify_jwt = false

[functions.create-subscription-session]
verify_jwt = false

[functions.link-auth-to-profile]
verify_jwt = false

[functions.send-abandoned-signup-reminder]
enabled = true
verify_jwt = true
import_map = "./functions/send-abandoned-signup-reminder/deno.json"
# Uncomment to specify a custom file path to the entrypoint.
# Supported file extensions are: .ts, .js, .mjs, .jsx, .tsx
entrypoint = "./functions/send-abandoned-signup-reminder/index.ts"
# Specifies static files to be bundled with the function. Supports glob patterns.
# For example, if you want to serve static HTML pages in your function:
# static_files = [ "./functions/send-abandoned-signup-reminder/*.html" ]

[functions.generate-payout-statement]
enabled = true
verify_jwt = true
import_map = "./functions/generate-payout-statement/deno.json"
# Uncomment to specify a custom file path to the entrypoint.
# Supported file extensions are: .ts, .js, .mjs, .jsx, .tsx
entrypoint = "./functions/generate-payout-statement/index.ts"
# Specifies static files to be bundled with the function. Supports glob patterns.
# For example, if you want to serve static HTML pages in your function:
# static_files = [ "./functions/generate-payout-statement/*.html" ]

[functions.send-partner-expiration-reminder]
enabled = true
verify_jwt = true
import_map = "./functions/send-partner-expiration-reminder/deno.json"
# Uncomment to specify a custom file path to the entrypoint.
# Supported file extensions are: .ts, .js, .mjs, .jsx, .tsx
entrypoint = "./functions/send-partner-expiration-reminder/index.ts"
# Specifies static files to be bundled with the function. Supports glob patterns.
# For example, if you want to serve static HTML pages in your function:
# static_files = [ "./functions/send-partner-expiration-reminder/*.html" ]
